<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World!</title>
</head>
<body>
<h3><a href="signup"> Register New User</a></h3>
<table>
    <tr>
        <th>CUSTOMER ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
    </tr>
    <tr th:each="customerone : ${listOfObjects}">
        <td th:text="${customerone.id}">Onions</td>
        <td th:text="${customerone.firstName}">2.41</td>
        <td th:text="${customerone.lastName}">2.41</td>

        <td><a th:href="@{/users/edit/{id}(id=${customerone.id})}"><img th:src="@{/edit.png }" width="30" height="30"/></a></td>
        <td><a th:href="@{/users/delete/{id}(id=${customerone.id})}"><img th:src="@{/delete.png }" width="30" height="30"/></a></td>
    </tr>
</table>
</body>
</html>